body {
  background: #fff;
  color: #333;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

.stdn-login {
  background: #000;
}

.form {
  margin: 25vh auto;
}

.form h2 {
  text-align: center;
  padding-bottom: 20px;
}

form.form-inline {
  margin-bottom: 10px;
}