body {
  background: #fff;
  color: #333;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

.inside-form {
  padding: 40px;
  margin-right: 5px;

  border: 2px solid darkslategray;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 1px 5px 5px #343a40;
}

.stdn-login {
  background: #000;
}

.inner {
  margin: 80px auto;
}

.inner h2 {
  text-align: center;
  padding-bottom: 20px;
}

form.form-inline {
  margin-bottom: 10px;
}

li {
  font-size: 25px;
}

a.back {
  display: block;
}